<div id="edit_comment_<%= @comment.id %>">
	<%= form_with model: @comment, url: post_comment_path(@post, @comment), method: :patch, local: false do |form| %>
		<div>
			<p><%= form.label :text, "Содержимое:" %></p>
			<p><%= form.text_field :text %></p>
		</div>
		<div>
			<p><%= form.submit "Изменить комментарий" %></p>
		</div>
	<% end %>
	<div>
		<%= link_to "Отменить", post_comment_path(@post, @comment), remote: true %>
	</div>
</div>