.post-create
  = form_with local: true, multipart: true, model: @post do |form|
    %img#image{src: ""}
    .form-group
      = form.text_field :description
    .form-group
      = form.file_field :image, id: :business_logo_image
      = form.label :image, class: "upload" do
        %i.material-icons
          file_upload
        %span
          Choose image

    - %w[x y w h].each do |attribute|
      = form.hidden_field "logo_crop_#{attribute}", id:"logo_crop_#{attribute}"

    %div{class:"modal fade", id: "upload-modal", "aria-labelledby": "modalLabel", role: "dialog", tabindex: "-1"}
      %div{class: "modal-dialog", role: "document"}
        %div{class: "modal-content"}
          %div{class: "modal-header"}
            %h5{class:"modal-title", id: "modalLabel"}
              Cut logo
            %button{type:"button", class:"close", "data-dismiss":"modal", "aria-label":"Close"}
              %span{"aria-hidden":"true"}
                &times;
          %div.modal-body
            / %div
            /   %img{id: "image", width: "100%", src: "", alt: "Logo"}
            / %div#result
            %div.cropp-canv
              %canvas#canvas
                Your browser does not support the HTML5 canvas element.
            %p.text-center
              %button{type: "button", class: "btn btn-primary rotate", "data-method": "rotate", "data-option": "-30"}
                %i.fa.fa-undo
              %button{type: "button", class: "btn btn-primary rotate", "data-method": "rotate", "data-option": "30"}
                %i.fa.fa-repeat

          %div.modal-footer

            %input{type: "button", id: "btnCrop", value: "Crop"}
            %input{type: "button", id: "btnRestore", value: "Restore"}

            %input{type: "button", class: "btn btn-primary", id: "button", value: "Cut", "data-dismiss": "modal"}
            %button{type: "button", class: "btn btn-default", "data-dismiss": "modal"}
              Close
    .btn-post-create
      = form.submit "Отправить", class: 'btn btn-primary'         