<div class="comment-blok" id="comment_<%= comment.id %>">
	<div class="comment-text">
		<%= link_to comment.user.username, user_path(comment.user), class: "link-user" %>: <%= comment.text %>
	</div>
	<div class="comment-edit">
		<% if user_signed_in? %>
			<% if current_user == comment.user %>
				<%=link_to "", edit_post_comment_path(post_id: post.id, id: comment.id), remote: true, class: "link-edit fa fa-edit edit-icon" %>
				<%=link_to "", post_comment_path(post_id: post.id, id: comment.id), method: :delete, remote: true, class: "link-delete fa fa-trash del-icon" %>
			<% end %>
		<% end %>
	</div>
</div>