<%= form_with model: @user do |form| %>
	<div>
		<p><%= form.label :name, "Имя:" %></p>
		<p><%= form.text_field :name %></p>
	</div>
	
	<div>
		<p><%= form.label :username, "Никнейм пользователя:" %></p>
		<p><%= form.text_field :username %></p>
	</div>
	
	<div>
		<p><%= form.label :email, "Почтовый адрес:" %></p>
		<p><%= form.text_field :email %><p>
	</div>

	<div>
		<p><%= form.label :phone, "Номер телефона:" %></p>
		<p><%= form.text_field :phone %></p>
	</div>

	<div>
		<p><%= form.label :bio, "Био:" %></p>
		<p><%= form.text_area :bio %></p>
	</div>

	<div>
		<p><%= form.label :image, "Фото:" %></p>
		<p><%= form.file_field :image %></p>
	</div>

	<div>
		<p><%= form.submit "Редактировать" %></p>
	</div>

<% end %>