<div class="user-profile">
  <div class="row">
    <div class="col-4">
      <div class="image-av">
        <% if @user.image.blank? %>
          <p> Фото нет </p>
        <% else %>
          <%= image_tag @user.image, class: "avatar-im" %>
        <% end %>
      </div>
    </div>
    
    <div class="col-8">
      <div class="profile">
        <h2 class="username"><%= @user.username %></h2>
        <% if user_signed_in? and @profile = current_user%>
          <a class="text-edit"><button class="edit-but-profile"><a class="text-edit" href="<%= edit_user_path(@user) %>">Редактировать профиль</button></a>
        <% end %>
      </div>
      <ul class="inform-stat">
        <li><span>2 </span>публикаций</li>
        <li><span>9999 </span>подписчиков</li>
        <li><span>1 </span>подписок</li>
      </ul>
      <div class=user-bio>
        <% if @user.name.blank? %>
          <p class="name"><%= current_user.name %></p>
        <% else %>
          <p>Нет имени</p>
        <% end %>
        <p>JDIGram</p>
      </div>
    </div>
  </div>
</div>

<a class="text-edit"><button class="edit-but-profile"><a class="text-edit" href="<%= new_post_path %>">Создать пост</button></a>