<div class="user-profile">
  <div class="row">
    <div class="col-4">
      <div class="image-avatar">
        <% if @user.image.blank? %>
          <p> Фото нет </p>
        <% else %>
          <%= image_tag @user.image, class: "avatar-image" %>
        <% end %>
      </div>
    </div>
    
    <div class="col-8 info">
      <div class="profile">
        <p class="username"><%= @user.username %></p>
        <% if user_signed_in? and @user == current_user%>
          <%= button_to "Редактировать профиль", edit_user_path(@user), method: :get, class: "edit-profile btn btn-light" %>
          <%= button_to "Создать пост", new_post_path, method: :get, class: "create-post btn btn-light" %>
        <% end %>
        <%= button_to "Посмотреть друзей", user_friendships_path(user_id: @user), method: :get, class: "show-friends btn btn-light" %>
        <% if user_signed_in? and current_user != @user %>
          <%= button_to "Написать", dialogs_path(user_id: @user.id), method: :post, class: "add-dialog btn btn-light" %>
          <%= button_to "Добавить в друзья", user_friendships_path( user_id: current_user, id: @user), method: :post, class: "add-friend btn btn-light" %>
        <% end %>
      </div>
      <ul class="data-user">
        <li>Публикаций: <%= @user.posts.count %></li>
        <li>Подписчиков: <%= Friendship.where(friend_id: @user.id).count %></li>
        <li>Подписок: <%= Friendship.where(user_id: @user.id).count %></li>
      </ul>
      <div class=user-bio>
        <% if @user.name.present? %>
          <p class="name"><%= @user.name %></p>
        <% else %>
          <p>Нет имени</p>
        <% end %>
        <p class="site">JDIGram</p>
      </div>
    </div>
  </div>
</div>


<div class="user-border">
  <div class="user-post-images row">
    <% @user.posts.each do |post|%>
      <div class="post-image col-4">
        <%= link_to post_path(post) do %>
          <%=image_tag post.image, class: "image" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>