!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title JDIGram
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.bg-light.d-flex
      .container
        .logo
          = link_to "JDIGram", root_path, class: "logo-inst"
        .search
          = render 'search/form'
        .user-section
          %a.main-compass
            %i.fa.fa-compass
          %a.main-heart
            %i.fa.fa-heart
          - if user_signed_in?
            %div
              = link_to user_path(current_user), class: "main-nick" do
                = image_tag current_user.image, class: "avatar-image" if current_user.image.present?
                = current_user.username
            = link_to "Диалоги", dialogs_path(user_id: current_user.id), class: "dialogs"
            = link_to "Выйти", destroy_user_session_path, method: :delete, class: "main-exit"
          - else
            = link_to "Войти", new_user_session_path, class: "main-ent"
    %main.container{:style => "min-height: 500px;"}
      = render "posts/partials/flash_error"
      = yield
    %footer.container.footer.foot-app
      %nav.navbar.d-flex
        %ul
          %li О нас
          %li Условия пользования
          %li Техподдержка
        %p 2022 JDIGram
